/* body {
    background-color: cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body > p{
    font-size: x-large;
    text-decoration: underline;
}

h1 {
    font-size: 50px;
}

li{
    display: inline;
}

ul {
    text-align: center;
} */

